{
    "dev": true,
    "watch": true,
    "default_prefix": "+",
    "custom_status": "+help",
    "status_type": "playing",
    "embed_color": "0x202225",

    "token": "",
    "sentry_dsn": "",
    "top_gg_token": "",
    "support_invite": "https://discord.gg/S9BEBux",

    "mongo_url": "",
    "db_name": "main",
    "cache_options": [
        "configs",
        "mutes",
        "warns",
        "cases",
        "slowmodes",
        "tbans"
    ],
    
    "langs": [
        "en_US"
    ],
    "plugins": [
        "error",
        "utility",
        "admin",
        "internal",
        "mod",
        "tags",
        "config",
        "automod",
        "cases"
    ],
    "error_channel": 123456789,
    "vote_channel": 123456789
}
