.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.text {
  text-align: center;
  vertical-align: middle;
}

.text h1 {
  font-size: 64px;
  margin: 0px 0px 8px;
}

.text p {
  font-size: 25px;
  margin: 20px 0px 40px;
}

.text ul {
  list-style: none;
}

.text ul li {
  display: inline;
  margin: 0px 5px 5px 0px;
}

.text ul li a {
  background-color: var(--blue);
  text-decoration: none;
  font-size: 20px;
  padding: 9px 20px;
  margin: 0px 5px 5px 0px;
  border-radius: 3%;
}

.text ul li a:hover {
  background-color: #3c87d6;
}

.features {
  padding-top: 40px;
  overflow: hidden;
}

.features ul {
  display: flex;
  flex-wrap: wrap;
}

.features ul li {
  list-style: none;
}

.features ul li .f {
  text-align: center;
  align-items: center;
  vertical-align: middle;
  width: 260px;
  height: 160px;
  border: 1px solid var(--bg2);
  border-radius: 2%;
}

.features ul li .f h1 {
  font-size: 20px;
  margin: 5px 0px 12px;
}

.features ul li .f p {
  font-size: 16px; 
}