.nav {
    background-color: var(--bg2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: var(--bg2);
}

.nav ul li {
    float: left;
    background-color: var(--bg2);
}

.nav ul li a {
    display: block;
    color: var(--fg);
    text-align: center;
    padding: 14px 16px;
    text-decoration: bold;
    font-weight: bold;
    background-color: var(--bg2);
}

.nav ul li:last-child {
    float: right;
}

.nav ul li a:hover {
    color: var(--blue);
}