@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main: #1d1e22;
    --w: #eef1f5;
    --s: #bec3cd;
}

.landing {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--w);
    background: var(--main);
    font-family: 'Roboto', sans-serif;
}

.landing .top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px;
    padding: 10px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.left {
    float: left;
    padding-right: 90px;
    padding-top: 45px;
}

.right {
    float: left;
    padding-top: -10px;
}

.left h1 {
    font-size: 80px;
    color: var(--w);
}

.left p {
    font-size: 18px;
    display: inline;
    color: var(--s);
}

.buttons ul {
    padding-top: 10px;
    display: flex;
}

.buttons ul li {
    text-decoration: none;
    list-style: none;
}

.buttons ul li .btn {
    background-color: #7286ce;
    font-size: 18px;
    margin: 10px;
    width: 156px;
    height: 45px;
    color: #ffffff;
    transition: background .2s;
}

.buttons ul li .btn:hover {
    background: #8f9ed7;
}

.buttons ul li .btn:active {
    border: none;
}

.links ul {
    padding-top: 10px;
    text-align: center;
}

.links ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.links ul li .link {
    font-size: 14px;
    color: #e2e8fd;
    margin: 0px 16px 0px 0px;
}