@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    position: relative;
    background: #0e1015;
}

.container {
    max-width: 100%;
    justify-content: center!important;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
}

.container .header {
    position: relative;
    padding-left: 38px;
    padding-bottom: 1px;
}

.container .icon {
    text-align: center;
    align-items: center;
    padding-bottom: 15px;
}

.container .icon img {
    width: 180px;
    height: 180px;
}

.links {
    text-align: center;
    align-items: center;
    padding-top: 10px;
}

.links li {
    display: inline;
}

.links li a {
    text-decoration: none;
    padding: 10px;
    color: #ffff;
    font-size: 21px;
}

.links li a:hover {
    transition: 0.05s ease-in-out;
    color: #6b7e91;
}

.stats {
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.stats ul {
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.stats li {
    padding: 5px;
    line-height: 100%;
}

.stats #second {
    float: left;
    display: inline;
}

.stats #first {
    display: block;
}

.stats li #invite {
    border: 1px solid #3e98f7;
    background-color: #3e98f7;
    font-style: bold;
    font-size: 15px;
    border-radius: 7px;
    width: 100%;
}

.stats li #invite:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.05s ease-in-out;
    background-color: #1baafd;
    border: 1px solid #1baafd;
}

.stats li h1 {
    text-decoration: none;
    padding: 12px;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #2e323d;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    background-color: #2e323d; 
    width: 200px;
}

/* .stats li h1:hover {
    background-color: #373a41;
} */

.features {
    padding-top: 20px;
}

.features ul {
    align-items: center;
    justify-content: center;
    max-width: 630px;
}

.features ul li {
    float: left;
    display: inline;
    padding: 5px;
    line-height: 100%;
}

.features ul li .feature {
    text-decoration: none;
    padding: 12px;
    border: 0.5px solid #2e323d;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    background-color: #2e323d; 
    width: 305px
}

.features ul li .feature i {
    text-decoration: none;
    color: #ffff;
    font-size: 22px;
    padding-bottom: 5px;
}

.features ul li .feature h1  {
    color: #ffffff;
    font-size: 15px;
    font-style: bold;
    padding-bottom: 4px;
}

.features ul li .feature p  {
    color: #ffffff;
    font-size: 14px;
    padding-top: 5px;
}

/* .features ul li .feature:hover {
    background-color: #373a41;
} */