{
    "dev": true,
    "watch": true,
    "default_prefix": "+",

    "custom_status": "+help",
    "status_type": "playing",

    "embed_color": "0x2f3136",
    "bot_color": "0x3b94f4",

    "token": "YOUR_BOT_TOKEN",

    "sentry_dsn": "",

    "top_gg_token": "",
    "top_gg_password": "djajdajdklaf9akfkaf",
    "top_gg_port": 3002,

    "discords_token": "",

    "support_invite": "https://discord.gg/S9BEBux",
    "web_url_base": "http://localhost:3000",
    "blank_icon": "https://cdn.discordapp.com/attachments/874097258889629716/1087114262893297694/transparent_logo.png",

    "mongo_url": "mongodb+srv://<user>:<password>@XXX.XXX.mongodb.net/main?retryWrites=true&w=majority&ssl=true&ssl_cert_reqs=CERT_NONE",
    "db_name": "main",
    "cache_options": [
        "configs",
        "mutes",
        "warns",
        "cases",
        "slowmodes",
        "tbans"
    ],
    
    "langs": [
        "en_US"
    ],

    "plugins": [
        "error",
        "admin",
        "internal",
        "mod",
        "automod",
        "config",
        "utility",
        "tags",
        "cases",
        "rr",
        "level",
        "filter"
    ],
    "disabled_commands": [],

    "error_channel": 123456789,
    
    "vote_channel": 123456789,
    "vote_role": 123456789,
    "support_server": 123456789
}
