{       
    "dev": false,

    "default_prefix": "!",

    "token": "YOUR_BOTS_TOKEN",
    "mongo_url": "mongodb+srv://REST_OF_YOUR_MONGO_URL",
    "sentry_dsn": "",
    "dbl_token": "",
    "discords_token": "",
    "shards": 1,
    "error_log_channel": 123456789,
    "shard_log_channel": 123456789,
    "custom_status": "",

    "langs": [
        "en_US"
    ],

    "plugins": [
        "ErrorPlugin",
        "AutomodPlugin",
        "ConfigPlugin",
        "ModerationPlugin",
        "WarnsPlugin",
        "TagsPlugin",
        "CasesPlugin",
        "UtilityPlugin",
        "FiltersPlugin",
        "StarboardPlugin",
        "AdminPlugin",
        "LogsPlugin"
    ],

    "enabled_plugins_with_commands": [
        "AutomodPlugin",
        "ConfigPlugin",
        "ModerationPlugin",
        "WarnsPlugin",
        "TagsPlugin",
        "CasesPlugin",
        "UtilityPlugin",
        "FiltersPlugin",
        "StarboardPlugin"
    ],
    
    "bot_admins": [123456789, 987654321],
    "blocked_guilds": [123456789, 987654321]
}