/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #36393f;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}